/* global css */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: #F6F6F6; 
}
p{
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{   
    font-family: 'Oswald', sans-serif;
}
/* header CSS */
.wave{
    background-color: black;
}

.header-top{
    width: 100%;
    height: 80px;
    background-color: black;
    position: relative;  
}
.header-top h1 {
    font-size: 59px;
    color: #4aa8df;
    line-height: 67px;
    text-align: center;
    background-size: cover!important;
    background-clip: text!important;
    background-image: linear-gradient(45deg,#54ade1,#fff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    vertical-align: baseline;
    padding-top: 30px;
}
/* Categories section css */
.categories{
    margin-top: -10px;
}
.categories-content h3 {
    font-size: 14px;
    color: #3b3663;
    line-height: 30px;
    text-align: center;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.categories-content h2 {
    font-size: 44px;
    color: #4aa8df;
    line-height: 57px;
    text-align: center;
    background-size: cover!important;
    background-clip: text!important;
    background-image: linear-gradient(75deg,#4aa6e0,#4f3aff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.categories-content p{
    text-align: center;
    margin-bottom: 35px;
}
.categories-content p span{
    color: #3b3663;
}
/* categories card */
.card{
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(75deg,#1F5FBA,#162558);
    color: #fff;
}
.card1{
    background: linear-gradient(75deg,#6554F5,#538CFA);
}
.card2{
    background: linear-gradient(75deg,#149EBF,#3AD9BB);
    padding-bottom: 40px;
}
.card3{
    background: linear-gradient(75deg,#F36E31,#FB9D54);
}
.card-body img{
    width: 100px;
    height:100px;
    margin-bottom: 25px;
}
.card-title{
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
}
.card-body p{
    font-size: 15px;
    font-weight: 500;
}
.campaign{
    padding-top: 100px;
}
/* blockquote css */
.blockquote-top{
    background: #000;
    padding-bottom: 40px;
}
.blockquote-section {
    position: relative;
    color: #fff;
  }
  
  .icon-container {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  blockquote {
    border: none;
    font-size: 22px;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    line-height: 43px;
    letter-spacing: 0.5px;
    padding-top: 140px;
  }
  
  .author {
    text-align: center;
    font-size: 16px;
    line-height: 27px;
    margin-top: 30px;
  }
  
  /*SEO CSS*/
.seo-content h3 {
    font-size: 14px;
    color: #3b3663;
    line-height: 30px;
    text-align: center;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.seo-content h2 {
    font-size: 44px;
    color: #4aa8df;
    line-height: 57px;
    text-align: center;
    background-size: cover!important;
    background-clip: text!important;
    background-image: linear-gradient(75deg,#4aa6e0,#4f3aff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.seo-content p{
    text-align: center;
    margin-bottom: 35px;
}
.seo-content p span{
    color: #3b3663;
}
/* consultation css */
.consultation{
    background: url(images/graphical-bg.png);
    box-shadow: 0 0 10px #ccc!important;
    padding: 100px 0 100px 0;
}
.consultation-bottom p{
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: #121212;
    padding-bottom: 25px;
}
.consultation-bottom a{
    text-decoration: none;
    background: #ed8536;
    font-weight:bold;
    border:none;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 50px;
}
/* agency css */
.agency-content p{
    text-align:left !important;
}
.agency-content img{
    max-width: 100%;
}
.search-img{
    max-width: 100%;
    width: 450px;
}
/* team css */
.team-container {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px !important;
    height: auto;
    background-color: #FFFCFC;
    box-shadow: 0 0 10px #ccc !important;
}

.team-title {
    font-size: 44px;
    color: #4aa8df;
    line-height: 57px;
    text-align: center;
    background-image: linear-gradient(75deg, #4aa6e0, #4f3aff);
    text-transform: capitalize;
    margin-bottom: 40px !important;
    letter-spacing: 1.5px;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.search-text {
    font-size: 14px;
    color: #3b3663;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;

}

.team-member-wrapper {
    padding: 0px 100px;
}

.team-member-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.member {
    width: 228px;
    box-shadow: 0 30px 80px rgba(0, 0, 0, .14), 0 20px 70px rgba(0, 0, 0, .12);
    border-radius: 15px;
    margin-bottom: 15px;
}

.member img {
    width: 228px;
    border-radius: 15px;

}

.member-name {
    font-size: 24px;
    color: #4aa8df;
    line-height: 57px;
    text-align: center;
    background-image: linear-gradient(75deg, #4aa6e0, #4f3aff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-bottom: 7px;
}

.position {
    font-size: 14px;
    color: #3b3663;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-bottom: 7px;
}

.reveal {
    position: relative;
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    opacity: 1;
}

/*  team css code ends here  */
/* skill css */
.skills-main-container1 {
    font-family: 'Open Sans', sans-serif;
    ;
    padding: 0px 80px;
}

.skills-container1 {
    width: 100%;
    height: auto;
    padding: 100px 0px;
    display: flex;

}

.skill1 {
    width: 25%;
    padding: 0px 10px;
}

.percent {
    font-size: 71px;
    color: #3b3663;
    line-height: 63px;
    text-align: left;
    font-family: Oswald;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 7px;
}

.skill-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    color: #3b3663;
    padding-bottom: 2px;
}

.progress-bar {
    width: 100%;
    height: 13px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, .043);
}

.SeoValue {
    width: 0%;
    border-radius: 30px;
    height: 100%;
    background-color: #fe4641 !important;
    transition: 1s ease-in-out;
}

.SeoValue.seoActive {
    width: 100%;
}

.webValue {
    width: 0%;
    border-radius: 30px;
    height: 100%;
    background-color: #6b58cd !important;
    transition: 1s ease-in-out;
}

.webValue.webActive {
    width: 100%;
}

.consultValue {
    width: 0%;
    border-radius: 30px;
    height: 100%;
    background-color: #333 !important;
    transition: 1s ease-in-out;
}

.consultValue.consultActive {
    width: 95%;
}

.socialValue {
    width: 0%;
    border-radius: 30px;
    height: 100%;
    background: linear-gradient(to right, #32d6ff, #2ac4ea);
    transition: 1s ease-in-out;
}

.socialValue.socialActive {
    width: 85%;
}
/* footer-form */
.footer{
    background: #161616;
}
.footer-header h2{
        color: #ffffff;
        text-align: center;
        text-transform: capitalize;
        font-family: Oswald;
        letter-spacing: 1.5px;
        font-size: 48px;
        line-height: 54px;
}
.footer-header p{
    text-align: center;
    color: #fff;
}
.footer-header a{
    text-decoration: none;
    color: rgb(144, 20, 20);
}
.footer form{
    color: #fff;
}
.form-control{
    border: none;
    border-radius: 0px !important;
    padding: 0.8rem 0.75rem !important;
}
label{
    margin-bottom:5px;
}
.footer button{
    text-decoration: none;
    background: #ed8536;
    font-weight:bold;
    border:none;
    color: #ffffff;
    padding: 12px 50px;
    border-radius: 50px;
}
/* responsive css */
@media (max-width: 992px){
    .header-top h1{
        font-size: 45px;
    }
    .consultation-top h2{
        margin-bottom: 25px;
    }
    .card{
        margin-bottom: 30px;
    }
}
@media (max-width: 768px){
    .header-top h1{
        font-size: 30px;
        line-height: 40px;
    }
}
@media (max-width: 451px){
    .header-top h1{
        font-size: 25px;
        line-height: 30px;
    }
    .categories-content h2, .seo-content h2, .consultation-top h2, .footer-header h2{
        font-size: 30px !important;
        line-height: 40px !important;
    }
    .consultation-bottom p{
        font-size: 16px;
    }
    blockquote{
        font-size: 16px !important;
        line-height: 30px;
    }
    .author{
        font-size: 14px !important;
    }
    .footer-header p{
        font-size: 13px;
    }
}
@media (max-width: 360px){
    .header-top h1{
        font-size: 20px;
        line-height: 25px;
    }
}